* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background: color image repeat position/size*/
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}
#profile {
  padding: 24px;
  text-align: center;
}
#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/* List-Buttons*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px;
}
/* Buttons */
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.5));
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
/* pseudo-seletor */
ul li a:hover {
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.05));
  border: 1.5px solid white;
}

/* Social-Links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 24px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 16px;
  transition: background 0.5s;
}

#social-links a:hover {
  background-color: var(--highlight-color-dark-mode, rgba(255, 255, 255, 0.2));
}

footer{
  padding: 24px 24px;
  text-align: center;
  font-size: 14px;
}
